<div class="container">
  <div class="row">
    <div class="col-3 text-center">
      <%= image_tag @user.profile.avatar.url, class: 'profile-img' %>
    </div>

    <div class="col-9">
      <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
      <div class="profile-block profile-contact-description">
        <%= @user.profile.description %>
      </div>
      <div class="profile-block profile-contact-info">
        <h3>Contact Information</h3>
        <%= @user.profile.phone_number %><br />
        <%= @user.profile.contact_email %><br />
      </div>
    </div>
  </div>
</div>